@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --background-color: #161A27;
  --text-color: #fbfbff;
  --placeholder-color: #D6D6FF;
}

* {
  font-family: "Lato";
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #FCDC9C;
  background-image: url("./80s Background.png");
  background-size: auto;
  position: relative;
  width: 99.4vw;
}

#header {
  width: 100%;
  background-color: #0a0a0a;
  text-align: center;
  color: #fbfbff;
  padding-bottom: 20px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
#header h1 {
  font-size: 50px;
}

table {
  margin: 60px auto;
  box-shadow: inset 0 0 50px #fbfbff, inset 20px 0 80px #9411CD, inset -20px 0 80px #35E7FF, inset 20px 0 300px #9411CD, inset -20px 0 300px #35E7FF, 0 0 50px #fbfbff, -10px 0 80px #9411CD, 10px 0 80px #35E7FF; /* outer right cyan */
  transform: scale(0.95);
}

table, th, td {
  border: 2px solid #0a0a0a;
  border-collapse: collapse;
}

thead td, thead th {
  text-align: center;
  background-color: #333D5B;
  color: #fbfbff;
}

th {
  text-align: left;
  padding-left: 10px;
}

td {
  padding: 10px;
}

#yardage td, #yardage th {
  background-color: #FF0078;
  color: #fbfbff;
}

#yardageTwo td, #yardageTwo th {
  background-color: #FF0078;
  color: #fbfbff;
}

#par td, #par th {
  background-color: #9411CD;
  color: #fbfbff;
}

#parTwo td, #parTwo th {
  background-color: #9411CD;
  color: #fbfbff;
}

#handicap td, #handicap th {
  background-color: #35E7FF;
  color: #333D5B;
}

#handicapTwo td, #handicapTwo th {
  background-color: #35E7FF;
  color: #333D5B;
}

.playerName {
  background-color: #fbfbff;
}

input:focus {
  border: none;
  outline: none;
}

#course-select {
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
  margin-left: 20px;
  outline: none;
  border-width: 0;
}

.form-group {
  color: #fbfbff;
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 15px;
  padding-bottom: 30px;
  align-items: center;
  background-color: #0a0a0a;
}

.options {
  display: flex;
  width: 70%;
  justify-content: space-between;
  color: #D6D6FF;
}

#fox {
  transition: 0.2s;
}

#fox:hover {
  transition: 0.2s;
  cursor: pointer;
  color: #fbfbff;
  text-shadow: 0px 0px 27px rgba(255, 255, 255, 0.6);
}

#thanks {
  transition: 0.2s;
}

#thanks:hover {
  transition: 0.2s;
  cursor: pointer;
  color: #fbfbff;
  text-shadow: 0px 0px 27px rgba(255, 255, 255, 0.6);
}

#spanish {
  transition: 0.2s;
}

#spanish:hover {
  transition: 0.2s;
  cursor: pointer;
  color: #fbfbff;
  text-shadow: 0px 0px 27px rgba(255, 255, 255, 0.6);
}

.active {
  color: #fbfbff;
}

.active:hover {
  transition: 0.2s;
  cursor: pointer;
  color: #161A27;
}

.players input[type=text] {
  font-weight: bold;
  font-size: 15px;
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  width: calc(100% - 10px);
  height: 35px;
}

input[type=text]::placeholder {
  color: var(--placeholder-color);
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}

input[type=number] {
  border: none;
  width: calc(100% - 10px);
  background-color: var(--background-color);
  color: var(--text-color);
}

input[type=number]::placeholder {
  color: var(--placeholder-color);
}

.playerHeader td, .playerHeader th {
  background-color: var(--background-color);
  color: var(--text-color);
}

.playerHeaderTwo td, .playerHeaderTwo th {
  background-color: var(--background-color);
  color: var(--text-color);
}

.playerSpec {
  background-color: #0a0a0a;
  padding-left: 10px;
}

#prevCard {
  padding: 10px;
  border-radius: 20px;
  background-color: black;
  border: #F7CA08 2px solid;
  color: #fbfbff;
  position: absolute;
  left: 9vw;
  top: 10vh;
  font-size: 20px;
  transition: 0.2s;
}

#prevCard:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}

#nextCard {
  padding: 10px;
  border-radius: 20px;
  background-color: black;
  border: #F7CA08 2px solid;
  color: #fbfbff;
  position: absolute;
  left: 88vw;
  top: 10vh;
  font-size: 20px;
  transition: 0.2s;
}

#nextCard:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}

#newPlay {
  background-color: #333D5B;
  color: #fbfbff;
  font-weight: 900;
  font-size: 22px;
  padding: 0;
  margin: 0;
  text-align: center;
  transition: 0.2s;
}
#newPlay p {
  transition: 0.2s;
}

#newPlayTwo {
  background-color: #333D5B;
  color: #fbfbff;
  font-weight: 900;
  font-size: 22px;
  padding: 0;
  margin: 0;
  text-align: center;
  transition: 0.2s;
}
#newPlayTwo p {
  transition: 0.2s;
}

#newPlayTwo:hover {
  transition: 0.2s;
  cursor: pointer;
  padding: 0;
  text-shadow: 0px 0px 27px rgba(255, 255, 255, 0.8);
}
#newPlayTwo:hover p {
  transition: 0.2s;
  transform: scale(1.2);
  padding: 0;
}

#newPlay:hover {
  transition: 0.2s;
  cursor: pointer;
  padding: 0;
  text-shadow: 0px 0px 27px rgba(255, 255, 255, 0.8);
}
#newPlay:hover p {
  transition: 0.2s;
  transform: scale(1.2);
  padding: 0;
}

#teeBoxes {
  display: flex;
  justify-content: center;
  flex-flow: column;
  position: absolute;
  left: 38.2vw;
  top: 14.5vh;
  border: 3px solid #0a0a0a;
  border-radius: 14px;
  display: none;
  z-index: 5;
}

#teeBoxes p {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 5px 20px;
}

#pro {
  background-color: #161A27;
  color: #fbfbff;
  transition: 0.2s;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
}

#proText {
  transition: 0.2s;
}

#pro:hover {
  cursor: pointer;
}
#pro:hover #proText {
  transition: 0.2s;
  transform: scale(1.1);
}

#champ {
  background-color: #14BFE1;
  transition: 0.2s;
}

#champText {
  color: #fbfbff;
  transition: 0.2s;
}

#champ:hover {
  cursor: pointer;
}
#champ:hover #champText {
  transition: 0.2s;
  transform: scale(1.1);
}

#men {
  background-color: #fbfbff;
  transition: 0.2s;
}

#menText {
  transition: 0.2s;
}

#men:hover {
  cursor: pointer;
}
#men:hover #menText {
  transition: 0.2s;
  transform: scale(1.1);
}

#women {
  background-color: #F4154D;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

#womenText {
  transition: 0.2s;
  color: #fbfbff;
}

#women:hover {
  cursor: pointer;
}
#women:hover #womenText {
  transition: 0.2s;
  transform: scale(1.1);
}

#playerLimit {
  color: #F4154D;
  transition: 0.2s;
  opacity: 0;
  background-color: black;
}

#nineToEighteen {
  display: none;
}

/*# sourceMappingURL=style.css.map */
